<div class="grid grid-nogutter surface-section text-800 mt-6">
  <div
    class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-start"
  >
    <section>
      <span class="block text-6xl font-bold mb-1"
        >Firebase Authentication Flow</span
      >
      <p class="mt-0 mb-4 text-700 line-height-3">
        A solution which provides backend services, easy-to-use SDKs, and
        ready-made UI libraries to authenticate users to your app.
      </p>
      <a
        pButton
        pRipple
        [label]="'Learn More'"
        class="mr-3 p-button-raised"
        href="https://firebase.google.com/docs/auth"
        target="_blank"
        role="button"
      >
      </a>
      <button
        pButton
        pRipple
        label="Live Demo"
        type="button"
        class="p-button-outlined"
        (click)="liveDemo()"
      ></button>
      <div *ngIf="authTest">
        <p style="margin-top: 7rem">
          {{ authTest.description }}
        </p>
        <p-divider></p-divider>
      </div>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="assets/hero-1.png"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>
